body{
  background-color: #E7E7E7;
}

.header{
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.left{
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.hd-img{
  width: 80px;
  margin-right: 10px;
}
.mesimet{
  margin-top: 4px;
}
.rreth{
  width: 100px;
  margin-top: -5px;
}
.home{
  width: 70px;
}
.book{
  width: 65px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.container{
  display: flex;
  background-color: #9F7394;
  margin: 80px auto;
  height: 500px;
  border-radius: 25px;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}

.left-section, .right-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.container-btn{
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.container-btn:hover{
  scale: 1.1;
}
.ass-img{
  width: 300px;
  cursor: pointer;
}
.ass-btn{
  background: none;
  border: none;
  margin-left: 50px;
}

.container-img{
  width: 100%;
}